/*Geral*/
* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(180deg, #fff7fe 0%, #fff7fe 100%);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #fff7fe; 
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #D4AF37 -10%, #f5d0e7 60%);
    border-radius: 10px;
    border: 3px solid #fff7fe;
}

@media (max-width: 768px) {
    body::-webkit-scrollbar,
    html::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    body {
        scrollbar-width: none !important;
        -ms-overflow-style: none !important;
    }
}
/*Notificação*/
#notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.magical-toast {
    background: rgba(255, 250, 255, 0.95);
    border-left: 5px solid #D4AF37;
    color: #4A235A;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(74, 35, 90, 0.2);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    min-width: 250px;
    animation: aparedeDaDireita 0.5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes aparedeDaDireita {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.magical-toast.fade-out {
    animation: desaparece 1.5s ease forwards;
}

@keyframes desaparece {
    to { transform: scale(0.9); opacity: 0; }
}

/*Header*/
.header {
    border-bottom: 2px solid #D4AF37;
    top: 0;
    z-index: 1000;
    padding: 5px 20px;
    display:flex;
    justify-content: space-between;
    position: relative;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 768px) {
    .header-right {
        left: 0;
        right: 0;
        width: 100vw;
        padding: 20px;
        margin: 0;
    }
}


.logo-img {
    width: 70px;
    height: auto;
}

.nome {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.7rem;
    color: #4A235A;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#user-name {
    font-size: 0.8rem;
    color: #4A235A;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-img {
    width: 70px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carrinho-img {
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.carrinho-img:hover, .user-img:hover {
    transform: scale(1.1);
}

.carrinho-container {
    position: relative;
}

#num-carrinho {
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: #F48FB1;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    #num-carrinho {
        display: none !important;
    }
}

/* Banner inicial*/
.hero {
    background-image: url('/assets/imgs/fundo-manifeste.jpg');
    background-repeat: repeat;
    background-size: 1600px;
    min-height: 30vh;

    display: flex;
    flex-direction: column;
    padding: clamp(10px, 3vh, 40px) clamp(5px, 3vh, 40px);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid #D4AF37;
}

.hero h1 {
  font-family: 'Cinzel Decorative', serif;
  color: #4A235A;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.hero p {
  font-family: 'Poppins', sans-serif;
  color: #6A1B9A;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  margin-bottom: 20px;
}

.btn-hero {
  background: linear-gradient(45deg, #F48FB1, #c695cf);
  color: white;
  border: none;
  padding: clamp(5px, 1.5vh, 10px) clamp(14px, 2vw, 24px);
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(244, 143, 177, 0.4);
  transition: 0.3s;
  font-size: clamp(0.78rem, 1.2vw, 0.938rem);

  display: inline-block;
}

.btn-hero:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(244, 143, 177, 0.6);
}

.fundo-mistico {
  background-color: #fdf7ff;
  background-image: 
    radial-gradient(#d4af37 0.5px, transparent 0.5px), 
    radial-gradient(#d4af37 0.5px, #fdf7ff 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

/*Produtos*/
.vitrine-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(212, 175, 55, 0.3);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(74, 35, 90, 0.1);
    border-color: #D4AF37;
}

.product-image img {
    width: clamp(150px, 80%, 250px);
    height: auto;
    object-fit: contain;
    cursor: pointer;
    border-radius: 10px;
}

.product-info h3 {
    font-family: 'Cinzel Decorative', serif;
    color: #4A235A;
    margin: 15px 0 10px;
    font-size: 1.1rem;
}

.category-tag {
    background: #E1BEE7;
    color: #4A235A;
    font-size: 0.7rem;
    padding: 4px 10px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    color: #D4AF37;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-btn {
    background: none;
    border: 1px solid #4A235A;
    color: #4A235A;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.3s;
}

.view-btn:hover {
    background: #D4AF37;
    border: 1px solid #D4AF37;
    color: white;
}

.add-to-cart-btn {
    background: linear-gradient(135deg, #4A235A, #AB47BC);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.add-to-cart-btn:hover {
    filter: brightness(1.3);
}

/*Zoom do produto*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(74, 35, 90, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: #FDF7FF;
    padding: clamp(20px, 4vw, 40px);
    border-radius: 30px;
    position: relative;
    border: 2px solid #D4AF37;
    animation: scaleIn 0.3s ease;
    width: clamp(300px, 95%, 850px);
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: rgba(74, 35, 90, 0.05);
    border-radius: 10px;
    margin: 20px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #D4AF37, #4A235A);
    border-radius: 10px;
    border: 2px solid #FDF7FF;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #AB47BC;
    cursor: grab;
}

#modal-carrinho .modal-content {
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    overflow: hidden;
}


#modal-zoom .modal-content {
    display: block;
    max-height: 90vh; 
    overflow-y: auto;
}

#modal-zoom .modal-img {
    flex: 1 1 300px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    overflow: hidden;
    border-radius: 20px;
    background: rgba(74, 35, 90, 0.03);
}

#modal-zoom .modal-img img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    max-width: 100%;
    max-height: 100%;
}

.modal-body {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.modal-img img {
    max-width: 300px;
    border-radius: 20px;
}

.modal-desc {
    flex: 1;
}


.full-description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #4A235A;
    margin: 20px 0;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #4A235A;
}

.modal-img {
    flex: 1 1 300px;
    max-width: 100%;
}

.modal-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 2 1 300px;
    min-height: 250px;
}

.modal-compra {
    margin-top: 5px;
    border-top: 1px solid rgba(212, 175, 55, 0.2);
    padding-top: 10px;
}

@media (max-width: 600px) {
    .modal-desc {
        min-height: auto;
        gap: 20px;
    }
}

/*Login*/
.modal-login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-family: 'Cinzel Decorative', serif;
    color: #5d2c71;
}

.login-img {
    width: 400px; 
    height: auto;
    border-radius: 50%;
    border: none;
    object-fit: contain;
    box-shadow: 0 10px 25px rgba(74, 35, 90, 0.1);
}


.register-btn {
    background: none;
    border: 1px solid #4A235A;
    color: #4A235A;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.register-btn:hover {
    background: #D4AF37;
    border: 1px solid #D4AF37;
    color: white;
}

.login-btn {
    background: linear-gradient(135deg, #4A235A, #AB47BC);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s;
}

.login-btn:hover {
    filter: brightness(1.3);
}

.email-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    
    padding: 12px; 
    margin-bottom: 15px;
    box-sizing: border-box; 
    width: 100%;
}

.email-wrapper input {
    border: none;
    outline: none;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 0;
}

.input-magico {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.sufixo {
    color: #999;
    font-size: 0.9rem;
    padding-left: 5px;
}

.input-magico {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.toggle-link {
    margin-top: 15px;
    cursor: pointer;
    text-decoration: underline;
    color: #CE93D8;
    font-size: 0.9rem;
}

/*Caldeirão*/
.modal-title {
    font-family: 'Cinzel Decorative', serif;
    color: #4A235A;
    text-align: center;
    margin-bottom: 25px;
}

.cart-items-container {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(212, 175, 55, 0.2);

    scrollbar-width: thin;
    scrollbar-color: #D4AF37 rgba(74, 35, 90, 0.05);
}

.cart-items-container::-webkit-scrollbar {
    width: 8px;
}

.cart-items-container::-webkit-scrollbar-track {
    background: rgba(74, 35, 90, 0.05);
    border-radius: 10px;
}

.cart-items-container::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #D4AF37 0%, #f5d0e7 100%);
    border-radius: 10px;
    border: 2px solid #FDF7FF;
}

@media (max-width: 768px) {
    .cart-items-container::-webkit-scrollbar {
        display: none !important;
    }
    
    .cart-items-container {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE/Edge */
    }
}

.cart-item img {
    width: clamp(100px, 30vw, 110px); 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: contain;
    border-radius: 15px;
    padding: 8px;
    transition: transform 0.3s ease;
}

.cart-item img:hover {
    transform: scale(1.05);
}

.cart-item-info {
    flex: 1;
}

.cart-item-info h4 {
    font-size: 0.9rem;
    color: #4A235A;
    margin: 0;
}

.cart-item-clickable {
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-item-clickable:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.qt-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(74, 35, 90, 0.05);
    padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 12px);
    border-radius: 20px;
    gap: clamp(6px, 1.5vw, 12px);
    border: 1px solid rgba(212, 175, 55, 0.3);
    width: fit-content; 
    margin: 5px 0;
}

.qt-btn {
    background: none;
    border: none;
    color: #D4AF37;
    font-size: clamp(1rem, 3vw, 1.2rem);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    line-height: 1;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qt-number {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4A235A;
    
    font-size: clamp(0.85rem, 2.5vw, 1rem);
    
    min-width: 15px;
    text-align: center;
}

.qt-btn:hover {
    color: #4A235A;
    transform: scale(1.3);
}

.remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.remove-btn:hover {
    transform: scale(1.2);
}

.cart-footer {
    margin-top: 20px;
    border-top: 2px solid #D4AF37;
    padding-top: 15px;
}

.total-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    color: #4A235A;
    margin-bottom: 15px;
}

.total-price {
    color: #D4AF37;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3);

    background: none;
    border: 1px solid #4A235A;
    color: #4A235A;
    font-size: 1rem;
    transition: 0.3s;
}

.checkout-btn:hover {
    width: 100%;
    background: linear-gradient(135deg, #D4AF37, #B8860B);
    color: white;
    box-shadow: 0 4px 15px;
}

.checkout-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.empty-msg {
    text-align: center;
    color: #999;
    padding: 40px 0;
}

@media (max-width: 768px) {
    .remove-btn {
        display: none !important;
    }

    .cart-item-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .qt-selector {
        margin: 0; 
        align-self: flex-start;
    }
}

@media (min-width: 769px) {
    .cart-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*Menu mobile*/
.menu-mobile-btn {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #4A235A;
    cursor: pointer;
}

.menu-text {
    display: none;
}

/* --- CONFIGURAÇÃO MOBILE --- */
@media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        gap: 15px; 
        
        justify-content: space-between; 
    }

    .nome {
        font-size: clamp(1.4rem, 4.5vw, 1.4rem);
        letter-spacing: -0.5px; 
        margin-left: 8px;
    }

    .menu-mobile-btn {
        display: block;
    }

    .header-right {
        display: none;
        flex-direction: column;
        position: absolute;
        
        top: 100%; 
        left: 0;
        width: 100%;
        
        background: #fff7fe;
        padding: 20px;
        border-bottom: 2px solid #D4AF37;
        box-shadow: 0 10px 15px rgba(74, 35, 90, 0.1);
        z-index: 1000;
        gap: 20px;
    }

    .header-right.active {
        display: flex;
    }

    .user-img, .carrinho-img {
        display: none;
    }

    .menu-text {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #4A235A;
        font-size: 1.2rem;
        text-align: center;
    }

    .carrinho-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}